.bg-image {
    background-image: url('../images/boogle-background.png');
    background-color: darkslategray;
}

header {
    position: fixed;
    width: 100%;
}

.logo {
    margin: 0px 40px;
}

.profile-card {
    color: cadetblue;
}

.pos-center {
    position: relative;
    top: 5px;
    right: 5px; 
}

.flex {
    display: flex;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }  

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


/* #main-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  
#box {
    position: fixed;
    z-index: 4;
    overflow: auto;
    top: 0px;
    left: -275px;
    width: 275px;
    opacity: 0;
    padding: 20px 0px;
    height: 100%;
    background-color: #f6f6f6;
    color: #343838;
    -webkit-transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
    transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}
  
#box.active {
    left: 0px;
    opacity: 1;
}
  
#items {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
  
#items .item {
    position: relative;
    cursor: pointer;
    font-size: 1em;
    padding: 15px 30px;
    -webkit-transition: all 250ms;
    transition: all 250ms;
}
  
#items a {
    text-decoration: none;
    color: inherit;
}

#items .item:hover {
    padding: 15px 45px;
    background-color: rgba(52, 56, 56, 0.2);
}


#btn {
    position: fixed;
    z-index: 5;
    top: 15px;
    left: 15px;
    cursor: pointer;
    -webkit-transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
    transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}
  
#btn div {
    width: 35px;
    height: 2px;
    margin-bottom: 8px;
    background-color: #00DFFC;
    -webkit-transition: -webkit-transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, box-shadow 250ms, background-color 500ms;
    transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, box-shadow 250ms, background-color 500ms;
}
  
#btn:hover > div { box-shadow: 0 0 1px #00DFFC; }
  
#btn.active { left: 230px; }
  
#btn.active div { background-color: #343838; }
  
#btn.active:hover > div { box-shadow: 0 0 1px #343838; }
  
#btn.active #top {
    -webkit-transform: translateY(10px) rotate(-135deg);
    -ms-transform: translateY(10px) rotate(-135deg);
    transform: translateY(10px) rotate(-135deg);
}
  
#btn.active #middle {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
  
#btn.active #bottom {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
} */

