header {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
}

.student-portal {
    margin-top: 25px;
}

.incorrect {
    text-align: right;
}

.block {
    margin-top: 75px;
    margin-bottom: 75px;
    padding: 30px;
    border: 5px solid black;
}